body{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:medium;

}

.parallax{
    min-height: 100vh;
    background: radial-gradient(
        #f9f8fc,
        #0e0020
    );
    position: relative;
    overflow: hidden;
}

.parallax h1 {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    top: 46%;
    left: 41%;
    color: #000000;
    position: absolute;
    text-align:center;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1.4em;
}

.front-layer, .back-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.front-layer{
    z-index: 1;
}

.back-layer{
    z-index: 0;
}

.front-layer img, .back-layer img{
    position: absolute;
}

.front-layer img{
    max-width: 220px;
}

.back-layer img{
    max-width: 380px;
}

.front-layer img:nth-child(1){
    top: 0;
    left: 20%;
    width: 16%;
}

.front-layer img:nth-child(2){
    top: 60%;
    left: 3%;
    width: 13%;
}

.front-layer img:nth-child(3){
    bottom: 0%;
    left: 30%;
    width: 14%;
}

.front-layer img:nth-child(4){
    bottom: 20%;
    right: 10%;
    width: 12%;
}

.front-layer img:nth-child(5){
    top: 10%;
    right: 25%;
    width: 16%;
}

.back-layer img:nth-child(1){
    top: -22%;
    right: 30%;
    width: 30%;
}

.back-layer img:nth-child(2){
    bottom: -20%;
    right: 20%;
    width: 32%;
}

.back-layer img:nth-child(3){
    top: -10%;
    right: -5%;
    width: 34%;
}

.back-layer img:nth-child(4){
    top: 20%;
    right: 80%;
    width: 15%;
}

.primerdiv{
    background-color: #0e0020;
    position: relative; 
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

div img{
    max-height: 400px;
}

.imagenes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagenes2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.unitext{
    flex-direction: column;
}

span{
    padding: 10px;
}